footer {
  background-color: #D1DCEC;
  color: black !important;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0.5em 0;
  margin-top: 0;
  text-align: center;
}

.icono {
  width: 40px;  
  height: 40px;    
  border-radius: 50%;
  object-fit: cover; 
  margin-right: 8px; 
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-3 {
  margin-top: 1rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

a.text-black {
  color: black !important;
  text-decoration: none;
}

a.text-black:hover {
  text-decoration: underline;
}

.btn-floating {
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
}

.btn-outline-light {
  border: 1px solid black !important;
  color: black !important;
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-light:hover {
  background-color: black !important;
  color: #2796D1;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-lg-start {
  text-align: left;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.p-4 {
  padding: 1.5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-3,
.col-md-2,
.col-lg-3,
.col-lg-2,
.col-xl-3,
.col-xl-2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 1rem;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xl-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
  width: 100%;
  clear: both;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fas,
.fab {
  margin-right: 0.5rem;
  color: black !important;
}

.text-md-end {
  text-align: right;
}

.text-md-start {
  text-align: left;
}

.ml-lg-0 {
  margin-left: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}
