.gradient-custom-2 {
    background: #0cb5d3;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #e5e592, #d1dcec, #2796D1);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #e5e592, #d1dcec, #2796D1);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

body {
  background-color: #CE93D8 !important;
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-repeat: no-repeat;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.form-outline input {
  padding: 10px 20px;
  border: 1px solid lightgrey !important;
  border-radius: 6px !important;
  background-color: #fff !important;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

.form-outline input:focus {
  box-shadow: none !important;
  border-color: #512da8 !important;
  outline: none;
}

::placeholder {
  color: #bdbdbd;
}

.text-muted:hover {
  text-decoration: underline;
}

.card {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
